<style>
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-primary-text-emphasis: #052c65;
    --bs-secondary-text-emphasis: #2b2f32;
    --bs-success-text-emphasis: #0a3622;
    --bs-info-text-emphasis: #055160;
    --bs-warning-text-emphasis: #664d03;
    --bs-danger-text-emphasis: #58151c;
    --bs-light-text-emphasis: #495057;
    --bs-dark-text-emphasis: #495057;
    --bs-primary-bg-subtle: #cfe2ff;
    --bs-secondary-bg-subtle: #e2e3e5;
    --bs-success-bg-subtle: #d1e7dd;
    --bs-info-bg-subtle: #cff4fc;
    --bs-warning-bg-subtle: #fff3cd;
    --bs-danger-bg-subtle: #f8d7da;
    --bs-light-bg-subtle: #fcfcfd;
    --bs-dark-bg-subtle: #ced4da;
    --bs-primary-border-subtle: #9ec5fe;
    --bs-secondary-border-subtle: #c4c8cb;
    --bs-success-border-subtle: #a3cfbb;
    --bs-info-border-subtle: #9eeaf9;
    --bs-warning-border-subtle: #ffe69c;
    --bs-danger-border-subtle: #f1aeb5;
    --bs-light-border-subtle: #e9ecef;
    --bs-dark-border-subtle: #adb5bd;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg: #fff;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-emphasis-color: #000;
    --bs-emphasis-color-rgb: 0, 0, 0;
    --bs-secondary-color: rgba(33, 37, 41, 0.75);
    --bs-secondary-color-rgb: 33, 37, 41;
    --bs-secondary-bg: #e9ecef;
    --bs-secondary-bg-rgb: 233, 236, 239;
    --bs-tertiary-color: rgba(33, 37, 41, 0.5);
    --bs-tertiary-color-rgb: 33, 37, 41;
    --bs-tertiary-bg: #f8f9fa;
    --bs-tertiary-bg-rgb: 248, 249, 250;
    --bs-heading-color: inherit;
    --bs-link-color: #0d6efd;
    --bs-link-decoration: underline;
    --bs-link-hover-color: #0a58ca;
    --bs-link-hover-color-rgb: 10, 88, 202;
    --bs-code-color: #d63384;
    --bs-highlight-color: #212529;
    --bs-highlight-bg: #fff3cd;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-xxl: 2rem;
    --bs-border-radius-2xl: var(--bs-border-radius-xxl);
    --bs-border-radius-pill: 50rem;
    --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    --bs-focus-ring-width: 0.25rem;
    --bs-focus-ring-opacity: 0.25;
    --bs-focus-ring-color: rgba(13, 110, 253, 0.25);
    --bs-form-valid-color: #198754;
    --bs-form-valid-border-color: #198754;
    --bs-form-invalid-color: #dc3545;
    --bs-form-invalid-border-color: #dc3545;
    --bs-breakpoint-xs: 0;
    --bs-breakpoint-sm: 576px;
    --bs-breakpoint-md: 768px;
    --bs-breakpoint-lg: 992px;
    --bs-breakpoint-xl: 1200px;
    --bs-breakpoint-xxl: 1400px;
    --body-bg-rgb: 249,
    250,
    252;
    --primary-rgb: 92,
    103,
    247;
    --primary-tint1-rgb: 227,
    84,
    212;
    --primary-tint2-rgb: 255,
    93,
    159;
    --primary-tint3-rgb: 255,
    142,
    111;
    --secondary-rgb: 158,
    92,
    247;
    --warning-rgb: 255,
    198,
    88;
    --info-rgb: 14,
    165,
    232;
    --success-rgb: 33,
    206,
    158;
    --danger-rgb: 251,
    66,
    66;
    --light-rgb: 249,
    249,
    250;
    --dark-rgb: 10,
    10,
    10;
    --orange-rgb: 254,
    124,
    88;
    --pink-rgb: 254,
    84,
    155;
    --teal-rgb: 0,
    216,
    216;
    --purple-rgb: 123,
    118,
    254;
    --green-rgb: 1,
    239,
    140;
    --default-body-bg-color: rgb(var(--body-bg-rgb));
    --primary-color: rgb(var(--primary-rgb));
    --primary-tint1-color: rgb(var(--primary-tint1-rgb));
    --primary-tint2-color: rgb(var(--primary-tint2-rgb));
    --primary-tint3-color: rgb(var(--primary-tint3-rgb));
    --primary-border: rgb(var(--primary-rgb));
    --primary01: rgba(var(--primary-rgb), 0.1);
    --primary02: rgba(var(--primary-rgb), 0.2);
    --primary03: rgba(var(--primary-rgb), 0.3);
    --primary04: rgba(var(--primary-rgb), 0.4);
    --primary05: rgba(var(--primary-rgb), 0.5);
    --primary06: rgba(var(--primary-rgb), 0.6);
    --primary07: rgba(var(--primary-rgb), 0.7);
    --primary08: rgba(var(--primary-rgb), 0.8);
    --primary09: rgba(var(--primary-rgb), 0.9);
    --primary005: rgba(var(--primary-rgb), 0.05);
    --default-font-family: "Poppins", sans-serif;
    --default-font-weight: 400;
    --default-text-color: #212b37;
    --default-border: #ecf3fb;
    --default-background: #f9fafb;
    --custom-white: #fff;
    --custom-black: #000;
    --bootstrap-card-border: #ecf3fb;
    --list-hover-focus-bg: #f5f6f7;
    --text-muted: #6e829f;
    --input-border: #dee7f1;
    --form-control-bg: #ffffff;
    --bs-link-color-rgb: var(--default-text-color);
    --gray-1: #f9fafb;
    --gray-2: #f2f4f5;
    --gray-3: #e6eaeb;
    --gray-4: #dbdfe1;
    --gray-5: #949eb7;
    --gray-6: #7987a1;
    --gray-7: #4d5875;
    --gray-8: #383853;
    --gray-9: #323251;
    --white-1: rgba(255, 255, 255, 0.1);
    --white-2: rgba(255, 255, 255, 0.2);
    --white-3: rgba(255, 255, 255, 0.3);
    --white-4: rgba(255, 255, 255, 0.4);
    --white-5: rgba(255, 255, 255, 0.5);
    --white-6: rgba(255, 255, 255, 0.6);
    --white-7: rgba(255, 255, 255, 0.7);
    --white-8: rgba(255, 255, 255, 0.8);
    --white-9: rgba(255, 255, 255, 0.9);
    --black-1: rgba(0, 0, 0, 0.1);
    --black-2: rgba(0, 0, 0, 0.2);
    --black-3: rgba(0, 0, 0, 0.3);
    --black-4: rgba(0, 0, 0, 0.4);
    --black-5: rgba(0, 0, 0, 0.5);
    --black-6: rgba(0, 0, 0, 0.6);
    --black-7: rgba(0, 0, 0, 0.7);
    --black-8: rgba(0, 0, 0, 0.8);
    --black-9: rgba(0, 0, 0, 0.9);
    --menu-border-color: rgba(255, 255, 255, 0.1);
    --header-bg: #fff;
    --header-border-color: #e2e6f1;
    --header-prime-color: #61748f;
    --menu-bg: #202947;
    --menu-prime-color: #b2b8c7;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-size: 0.8125rem;
    font-family: var(--default-font-family);
    font-weight: var(--default-font-weight);
    line-height: 1.5;
    text-align: start;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-title-color:;
    --bs-card-subtitle-color:;
    --bs-card-border-width: var(--bs-border-width);
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: var(--bs-border-radius);
    --bs-card-box-shadow:;
    --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
    --bs-card-cap-color:;
    --bs-card-height:;
    --bs-card-color:;
    --bs-card-bg: var(--bs-body-bg);
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    word-wrap: break-word;
    box-sizing: border-box;
    user-select: none;
    flex: 1 1 auto;
    --bs-bg-opacity: 0.75;
    background-color: rgba(var(--light-rgb), 0.75) !important;
    padding: 1rem;
    color: var(--default-text-color);
</style>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">

                </div>
                <div class="card-body bg-light bg-opacity-75">
                    <div class="timeline container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="timeline-container">
                                    <div class="timeline-end"> <span class="p-1 fs-11 bg-primary2 text-fixed-white backdrop-blur text-center border border-primary2 border-opacity-10 rounded-1 lh-1 fw-medium"> 22 January 2024 </span> </div>
                                    <div class="timeline-continue">
                                        <div class="timeline-right">
                                            <div class="timeline-content">
                                                <p class="timeline-date text-muted mb-2"> 15:36, Monday </p>
                                                <div class="timeline-box">
                                                    <p class="mb-2"> <b>You </b> Tagged <b> Emma Thompson</b> in a Photo. </p>
                                                    <p class="mb-2"> "Including Emma in cherished memories captured on camera, tagging her in a photo to share a moment of joy or significance and inviting her to reminisce together." </p>
                                                    <p class="profile-activity-media mb-0"> <a href="javascript:void(0);"> <img src="../assets/images/media/media-17.jpg" alt="" class="mb-0"> </a> <a href="javascript:void(0);"> <img src="../assets/images/media/media-18.jpg" alt="" class="mb-0"> </a> </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="timeline-right">
                                            <div class="timeline-content">
                                                <p class="timeline-date text-muted mb-2"> 22:45, Monday </p>
                                                <div class="timeline-box">
                                                    <p class="text-muted mb-2"> <span class="text-default"><b>Michel</b> Retweeted Emily <a href="javascript:void(0);" class="text-primary1 fw-medium text-decoration-underline">Davis</a>'s Tweet </span>. </p>
                                                    <p class="text-muted mb-0"> Amplifying Emily's message and sharing it with your own Twitter followers, acknowledging the importance or relevance of her tweet and extending its reach across the platform.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="timeline-end mb-5"> <span class="p-1 fs-11 bg-primary3 text-fixed-white backdrop-blur text-center border border-primary2 border-opacity-10 rounded-1 lh-1 fw-medium z-1 position-relative"> 25 January 2024 </span> </div>
                                        <div class="timeline-right">
                                            <div class="timeline-content">
                                                <p class="timeline-date text-muted mb-2"> 09:14, Thursday </p>
                                                <div class="timeline-box">
                                                    <p class="text-muted mb-1"> <span class="text-default"><b>You</b> Shared <b>a Recipe </b></span>on Sarah Johnson's Timeline. </p>
                                                    <p class="text-muted">Spreading culinary inspiration by sharing a mouth-watering recipe on Sarah's timeline, encouraging others to indulge in delicious homemade dishes and fostering a sense of community around food.</p>
                                                    <p class="profile-activity-media mb-0"> <a href="javascript:void(0);"> <img src="../assets/images/media/media-59.jpg" class="mb-0" alt=""> </a> <a href="javascript:void(0);"> <img src="../assets/images/media/media-60.jpg" class="mb-0" alt=""> </a> <a href="javascript:void(0);"> <img src="../assets/images/media/media-61.jpg" class="mb-0" alt=""> </a> </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="timeline-right">
                                            <div class="timeline-content">
                                                <p class="timeline-date text-muted mb-2"> 17:56, Thursday </p>
                                                <div class="timeline-box mb-2">
                                                    <p class="mb-1"> <b>You</b> Participated in a Poll Created by <b> Ethan Clark</b> <a class="text-primary2" href="javascript:void(0);"><u>#analysis-decision-making</u></a>. </p>
                                                    <p class="text-muted">Sharing your perspective and contributing to Ethan's data collection through participation in his poll, providing valuable feedback and insights to inform further analysis and decision-making.</p>
                                                    <p class="profile-activity-media mb-0"> <a href="javascript:void(0);"> <img src="../assets/images/media/media-26.jpg" alt="" class="mb-0"> </a> <a href="javascript:void(0);"> <img src="../assets/images/media/media-29.jpg" alt="" class="mb-0"> </a> </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>