@section Styles {
	<style type="text/css">
		.accordion-symbol {
			margin-right: 10px;
		}
	</style>
}

<div class="modal fade" id="mdlTPShow">
	<div class="modal-dialog modal-xl" id="PlaceHolderHere">
	</div>
</div>
<div class="row">
	<div class="col-12 col-lg-12">

		<div class="card" style="">

			<div class="card-header">
				<div class="row align-items-center">
					<div class="col">
						<h4 class="card-title">Procedure Index</h4>
					</div><!--end col-->
					
				</div> <!--end row-->
			</div><!--end card-header-->
			<div class="card-body">
				<div class="row mb-3">
					<div class="table-responsive">
						<table class="table mb-0">
							<thead class="thead-light">
								<tr>
									<th class="d-none"></th>
									<th>Procedure Name</th>
									<th>Department</th>
									<th>Designation</th>
									<th>Role</th>
									<th>Employee</th>
									<th>Access Level</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr class="accordion-header">
									<td colspan="6"><i class="fa fa-minus-square accordion-symbol"></i>Order Management</td>
									
								</tr>
								<tr onclick="" style="cursor:pointer;" class="accordion-content">
									<td></td>
									<td>Sales</td>
									<td>Manager</td>
									<td>Administrator</td>
									<td>John Doe</td>
									<td>Approver</td>
								</tr>
								<tr onclick="" style="cursor:pointer;" class="accordion-content">
									<td></td>
									<td>Operations</td>
									<td>Supervisor</td>
									<td>Editor</td>
									<td>Jane Smith</td>
									<td>Approver</td>
								</tr>
								<tr onclick="" style="cursor:pointer;" class="accordion-content">
									<td></td>
									<td>Support</td>
									<td>Executive</td>
									<td>Viewer</td>
									<td>Robert Brown</td>
									<td>Notification Recipient</td>
								</tr>
								<tr onclick="" style="cursor:pointer;">
									<td>Billing System</td>
									<td>Finance</td>
									<td>Analyst</td>
									<td>Editor</td>
									<td>Emily Clark</td>
									<td>Approver</td>
									
								</tr>
								<tr class="accordion-header">
									<td colspan="6"><i class="fa fa-minus-square accordion-symbol"></i>HR Portal</td>
									
								</tr>
								<tr onclick="" style="cursor:pointer;" class="accordion-content">
									<td></td>
									<td>Human Resources</td>
									<td>Coordinator</td>
									<td>Viewer</td>
									<td>Michael Johnson</td>
									<td>Approver</td>
								</tr>
								<tr onclick="" style="cursor:pointer;" class="accordion-content">
									<td></td>
									<td>Finance</td>
									<td>Analyst</td>
									<td>Editor</td>
									<td>Emily Clark</td>
									<td>Notification Recipient</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="~/matrica/assets/js/pages/app-custom.js" type="text/javascript"></script>
	<script>
			$('.accordion-header').click(function() {
				const header = $(this);
				let nextRow = header.next();
				if (($(this).find('.fa-minus-square')).hasClass('fa-minus-square') == true) {
					$(this).find('.fa-minus-square').removeClass('fa-minus-square').addClass('fa-plus-square');
				}
				else {
					$(this).find('.fa-plus-square').removeClass('fa-plus-square').addClass('fa-minus-square');
				}

				while (nextRow.length && nextRow.hasClass('accordion-content')) {
					nextRow.toggle();
					nextRow = nextRow.next();
				}
			});
			const swalWithBootstrapButtons1 = Swal.mixin({
			customClass: {
				confirmButton: "btn btn-de-primary",
				cancelButton: "btn btn-de-danger me-2"
			},
			buttonsStyling: false
		});

		function deleteRowData(event, comp){
				if (event && event.stopPropagation) {
				  event.stopPropagation(); // Prevents the event from bubbling up to the tr
				}
			swalWithBootstrapButtons1.fire({
				title: "Are you sure?",
				text: "Do You want to delete this?",
				icon: "warning",
				showCancelButton: true,
				confirmButtonText: '<i class="mdi mdi-check-all me-2"></i>Delete',
				cancelButtonText: '<i class="mdi mdi-window-close me-2"></i>Close',
				reverseButtons: true,
				allowOutsideClick: false
			}).then((result) => {
				if (result.isConfirmed) {

				const header = $(comp);
						let nextRow = header.parents('.accordion-header').next();
				while (nextRow.length && nextRow.hasClass('accordion-content')) {
					nextRow.remove();
					nextRow = header.parents('.accordion-header').next();
				}
				$(comp).closest('tr')[0].remove();

					 swalWithBootstrapButtons1.fire({
								title: "Deleted!",
								text: "Deleted successfully!",
								icon: "success",
								allowOutsideClick: false
							}).then(okay => {
								if (okay) {
								}
							});
				}
			});
		}
	</script>
}