@model OTOSOLVE.UI.Areas.Environment.ViewModels.TicketVM

<div class="row">
	<div class="col-12 col-lg-12">
		<div class="card" style="">
			<div class="card-header">
				<div class="row align-items-center">
					<div class="col">
						<h4 class="card-title">Team Creation</h4>
					</div><!--end col-->
					<div class="col-auto">
					</div><!--end col-->
				</div> <!--end row-->

			</div><!--end card-header-->

			<div class="card-body">
				<div class="row">
					<div class="row col-lg-12 mt-2">
						<div class="col-lg-2">Name</div>
						<div class="col-lg-4">
							<input type="text" class="form-control" id="requesterName" placeholder="Enter requester name">
						</div>
						<div class="col-lg-6"></div>
					</div>
					<div class="row col-lg-12 mt-2">
						<div class="col-lg-2">Team Head</div>
						<div class="col-lg-4">
							<select id="" class="form-select" aria-label="Default select example">
								<option value="0" selected="selected">--</option>
								<option value="1">Carol Davis</option>
								<option value="1">David Martinez</option>
								<option value="1">Eve Thompson</option>
								<option value="1">Frank Wilson</option>
								<option value="2">Grace Brown</option>
							</select>
						</div>
						<div class="col-lg-6"></div>
					</div>
				</div>
			</div>
			<div class="card-footer">
				<div class="row text-end ">
					<div class="col-lg-12 ">
						<button id="submitBtn" class="btn btn-de-primary"><i class="mdi mdi-check-all me-2"></i>Create</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


