@model OTOSOLVE.UI.Areas.Environment.ViewModels.TicketVM


<div class="row">
	<div class="col-12 col-lg-12">
		<div class="card" style="">
			<div class="card-header">
				<div class="row align-items-center">
					<div class="col">
						<h4 class="card-title">Edit Process</h4>
					</div><!--end col-->
					
				</div> <!--end row-->
			</div><!--end card-header-->
			<div class="card" style="">
			<div class="card-body" style="padding-bottom: 8px !important;">
				<div class="row">
					<div class="form-group">
						<label for="processName" class="form-label">Procedure Name</label>
						<input type="text" class="form-control" id="processName" value="Order Management" placeholder="Enter process name">
					</div>
					<div class="mt-3" id="divTicketProcessMain">
						<div class="" id="divTktHierarcyProcess" style="margin-bottom: 8px !important;">
							<div class="card p-3">
								<div class="form-group mt-2">
									<div class="row">
										<div class="col-lg-3">
											<label class="form-label mt-2" for="sltDepartment">Select Department</label>
											<select id="sltDepartment" class="form-select">
												<option>--</option>
												<option selected>Sales</option>
												<option>Human Resources</option>
												<option >Marketing</option>
												<option>Finance</option>
												<option>Customer Support</option>
											</select>
										</div><!--end col-->
										<div class="col-lg-3">
											<label class="form-label mt-2" for="sltDesignation">Select Designation</label>
											<select id="sltDesignation" class="form-select">
												<option>--</option>
												<option>Intern</option>
												<option>
													Junior Executive
												</option>
												<option selected>Nanager</option>
												<option>Senior Executive</option>
												<option>Assistant Manager</option>
												<option>Manager</option>
											</select>
										</div><!--end col-->
										<div class="col-lg-3">
											<label class="form-label mt-2" for="sltRole">Select Role</label>
											<select id="sltRole" class="form-select">
												<option>--</option>
												<option>Developer</option>
												<option>Analyst</option>
												<option >Coordinator</option>
												<option selected>Administrator</option>
												<option>Specialist</option>
											</select>
										</div><!--end col-->
										<div class="col-lg-3">
											<label class="form-label mt-2" for="sltEmployee">Select Employee</label>
											<select id="sltEmployee" class="form-select">
												<option>--</option>
												<option selected>Jhon Deo</option>
												<option>Alice Johnson</option>
												<option>Bob Smith</option>
												<option>Carol Davis</option>
												<option>David Martinez</option>
												<option >Eve Thompson</option>
												<option>Frank Wilson</option>
												<option>Grace Brown</option>
											</select>
										</div><!--end col-->
									</div><!--end row-->
								</div>
								<div class="form-group row mt-2">
									<label class="col-xl-2 col-form-label">Access Level</label>
									<div id="radio-group" class="col-xl-10 mt-2 radio-group" data-group="">
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="" id="" value="Approver" checked>
											<label class="form-check-label" for="ipApprover">Approver</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="" id="" value="Notification Recipient">
											<label class="form-check-label" for="ipNotificationRecipient">Notification Recipient</label>
										</div>
									</div>
								</div>
								
							</div>
						</div>
					</div>

				</div>
			</div>
			</div>
			<div class="card-body" style="padding-bottom: 8px !important;">
				<div class="row">
					<div class="mt-3" id="divTicketProcessMain">
						<div class="" id="divTktHierarcyProcess" style="margin-bottom: 8px !important;">
							<div class="card p-3">
								<div class="form-group mt-2">
									<div class="row">
										<div class="col-lg-3">
											<label class="form-label mt-2" for="sltDepartment">Select Department</label>
											<select id="sltDepartment" class="form-select">
												<option>--</option>
												<option>Human Resources</option>
												<option selected>Operations</option>
												<option>Marketing</option>
												<option>Finance</option>
												<option>Customer Support</option>
											</select>
										</div><!--end col-->
										<div class="col-lg-3">
											<label class="form-label mt-2" for="sltDesignation">Select Designation</label>
											<select id="sltDesignation" class="form-select">
												<option>--</option>
												<option>Intern</option>
												<option>
													Junior Executive
												</option>
												<option selected>Supervisor </option>
												<option>Senior Executive</option>
												<option>Assistant Manager</option>
												<option>Manager</option>
											</select>
										</div><!--end col-->
										<div class="col-lg-3">
											<label class="form-label mt-2" for="sltRole">Select Role</label>
											<select id="sltRole" class="form-select">
												<option>--</option>
												<option>Developer</option>
												<option>Analyst</option>
												<option selected>Editor</option>
												<option>Administrator</option>
												<option>Specialist</option>
											</select>
										</div><!--end col-->
										<div class="col-lg-3">
											<label class="form-label mt-2" for="sltEmployee">Select Employee</label>
											<select id="sltEmployee" class="form-select">
												<option>--</option>
												<option>Alice Johnson</option>
												<option selected>Jane Smith</option>
												<option>Bob Smith</option>
												<option>Carol Davis</option>
												<option>David Martinez</option>
												<option>Eve Thompson</option>
												<option>Frank Wilson</option>
												<option>Grace Brown</option>
											</select>
										</div><!--end col-->
									</div><!--end row-->
								</div>
								<div class="form-group row mt-2">
									<label class="col-xl-2 col-form-label">Access Level</label>
									<div id="radio-group" class="col-xl-10 mt-2 radio-group" data-group="">
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="" id="" value="Approver" checked>
											<label class="form-check-label" for="ipApprover">Approver</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="" id="" value="Notification Recipient">
											<label class="form-check-label" for="ipNotificationRecipient">Notification Recipient</label>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="card-body" style="padding-bottom: 8px !important;">
				<div class="row">
					<div class="mt-3" id="divTicketProcessMain">
						<div class="card p-3" id="divTktHierarcyProcess" style="margin-bottom: 8px !important;">
							<div class="">
								<div class="form-group mt-2">
									<div class="row">
										<div class="col-lg-3">
											<label class="form-label mt-2" for="sltDepartment">Select Department</label>
											<select id="sltDepartment" class="form-select">
												<option>--</option>
												<option>Human Resources</option>
												<option>Marketing</option>
												<option>Finance</option>
												<option selected> Support</option>
											</select>
										</div><!--end col-->
										<div class="col-lg-3">
											<label class="form-label mt-2" for="sltDesignation">Select Designation</label>
											<select id="sltDesignation" class="form-select">
												<option>--</option>
												<option>Intern</option>
												<option>
													Junior Executive
												</option>
												<option selected> Executive</option>
												<option>Assistant Manager</option>
												<option>Manager</option>
											</select>
										</div><!--end col-->
										<div class="col-lg-3">
											<label class="form-label mt-2" for="sltRole">Select Role</label>
											<select id="sltRole" class="form-select">
												<option>--</option>
												<option>Developer</option>
												<option>Analyst</option>
												<option selected>Viewer</option>
												<option>Administrator</option>
												<option>Specialist</option>
											</select>
										</div><!--end col-->
										<div class="col-lg-3">
											<label class="form-label mt-2" for="sltEmployee">Select Employee</label>
											<select id="sltEmployee" class="form-select">
												<option>--</option>
												<option>Alice Johnson</option>
												<option>Bob Smith</option>
												<option>Carol Davis</option>
												<option>David Martinez</option>
												<option selected>Robert Brown</option>
												<option>Frank Wilson</option>
												<option>Grace Brown</option>
											</select>
										</div><!--end col-->
									</div><!--end row-->
								</div>
								<div class=" row mt-2">
									<label class="col-xl-2 col-form-label">Access Level</label>
									<div id="  " class="col-xl-10 mt-2 " data-group="">
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="" id="" value="Approver">
											<label class="form-check-label" for="ipApprover">Approver</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="" id="" value="Notification Recipient" checked>
											<label class="form-check-label" for="ipNotificationRecipient">Notification Recipient</label>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="card-footer">
				<div class="row text-center ">
					<div class="col-lg-6 ">
						<a  asp-area="Ticket" asp-controller="Administrator" asp-action="ViewProcedures" id="submitTicketProcess" class="btn btn-de-danger"><i class="mdi mdi-arrow-left me-2"></i>Back</a>
					</div>
					<div class="col-lg-6 ">
						<a asp-area="Ticket" asp-controller="Administrator" asp-action="ViewProcedures" id="submitTicketProcess" class="btn btn-de-success"><i class="mdi mdi-check-all me-2"></i>Update</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

