

<script src="https://cdn.jsdelivr.net/npm/apextree"></script>

<div class="card">
    <div class="card-header">

    </div>
    <div class="card-body align-justify">
        <div id="svg-tree" style="width: 100%; height: 100%;"></div> <!-- Ensure this exists -->
    </div>
</div>
<div id="svg-tree" style="width: 100%; height: 600px;"></div> <!-- Tree Container -->

<script>
      const data = {
      id: 'ms',
      data: {
        imageURL: 'https://i.pravatar.cc/300?img=68',
        name: 'Daniel White',
        role: 'Admin',
      },
      options: {
        nodeBGColor: '#cdb4db',
        nodeBGColorHover: '#cdb4db',
      },
      children: [
        {
          id: 'mh',
          data: {
            imageURL: 'https://i.pravatar.cc/300?img=69',
            name: 'Mark Hudson',
          },
          options: {
            nodeBGColor: '#ffafcc',
            nodeBGColorHover: '#ffafcc',
          },
          children: [
            {
              id: 'kb',
              data: {
                imageURL: 'https://i.pravatar.cc/300?img=65',
                name: 'Karyn Borbas',
              },
              options: {
                nodeBGColor: '#f8ad9d',
                nodeBGColorHover: '#f8ad9d',
              },
            },
            {
              id: 'cr',
              data: {
                imageURL: 'https://i.pravatar.cc/300?img=60',
                name: 'Chris Rup',
              },
              options: {
                nodeBGColor: '#c9cba3',
                nodeBGColorHover: '#c9cba3',
              },
            },
          ],
        },
        {
          id: 'cs',
          data: {
            imageURL: 'https://i.pravatar.cc/300?img=59',
            name: 'Chris Lysek',
          },
          options: {
            nodeBGColor: '#00afb9',
            nodeBGColorHover: '#00afb9',
          },
          children: [
            {
              id: 'Noah_Chandler',
              data: {
                imageURL: 'https://i.pravatar.cc/300?img=57',
                name: 'Noah Chandler',
              },
              options: {
                nodeBGColor: '#84a59d',
                nodeBGColorHover: '#84a59d',
              },
            },
            {
              id: 'Felix_Wagner',
              data: {
                imageURL: '~matrica/assets/images/profile//user4.jpg',
                name: 'Felix Wagner',
              },
              options: {
                nodeBGColor: '#0081a7',
                nodeBGColorHover: '#0081a7',
              },
            },
          ],
        },
      ],
    };
    const options = {
      contentKey: 'data',
      width: 800,
      nodeWidth: 150,
      nodeHeight: 100,
      fontColor: '#fff',
      borderColor: '#333',
      childrenSpacing: 50,
      siblingSpacing: 20,
      direction: 'top',
      nodeTemplate: (content) =>
        `<div style='display: flex;flex-direction: column;gap: 10px;justify-content: center;align-items: center;height: 100%;'>
        <img style='width: 50px;height: 50px;border-radius: 50%;' src='${content.imageURL}' alt='no image' />
        <div style="font-weight: bold; font-family: Arial; font-size: 14px">${content.name}</div>
       </div>`,
      canvasStyle: 'border: 1px solid black;background: #f6f6f6; width: 100%; height: 100%',
      enableToolbar: true,
    };
    const tree = new ApexTree(document.getElementById('svg-tree'), options);
    tree.render(data);
</script>







@* <script type="text/javascript">
    const data = {
        id: 'ms',
        data: {
          imageURL: '~/matrica/assets/images/profile/user10.jpg',
          name: 'Margret Swanson',
        },
        options: {
          nodeBGColor: '#cdb4db',
          nodeBGColorHover: '#cdb4db',
        },
        children: [
          {
            id: 'mh',
            data: {
              imageURL: 'https://i.pravatar.cc/300?img=69',
              name: 'Mark Hudson',
            },
            options: {
              nodeBGColor: '#ffafcc',
              nodeBGColorHover: '#ffafcc',
            },
            children: [
              {
                id: 'kb',
                data: {
                  imageURL: 'https://i.pravatar.cc/300?img=65',
                  name: 'Karyn Borbas',
                },
                options: {
                  nodeBGColor: '#f8ad9d',
                  nodeBGColorHover: '#f8ad9d',
                },
              },
              {
                id: 'cr',
                data: {
                  imageURL: 'https://i.pravatar.cc/300?img=60',
                  name: 'Chris Rup',
                },
                options: {
                  nodeBGColor: '#c9cba3',
                  nodeBGColorHover: '#c9cba3',
                },
              },
            ],
          },
          {
            id: 'cs',
            data: {
              imageURL: 'https://i.pravatar.cc/300?img=59',
              name: 'Chris Lysek',
            },
            options: {
              nodeBGColor: '#00afb9',
              nodeBGColorHover: '#00afb9',
            },
            children: [
              {
                id: 'Noah_Chandler',
                data: {
                  imageURL: 'https://i.pravatar.cc/300?img=57',
                  name: 'Noah Chandler',
                },
                options: {
                  nodeBGColor: '#84a59d',
                  nodeBGColorHover: '#84a59d',
                },
              },
              {
                id: 'Felix_Wagner',
                data: {
                  imageURL: 'https://i.pravatar.cc/300?img=52',
                  name: 'Felix Wagner',
                },
                options: {
                  nodeBGColor: '#0081a7',
                  nodeBGColorHover: '#0081a7',
                },
              },
            ],
          },
        ],
      };
      const options1 = {
        contentKey: 'data',
        width: 800,
        height: 600,
        nodeWidth: 150,
        nodeHeight: 100,
        fontColor: '#fff',
        borderColor: '#333',
        childrenSpacing: 50,
        siblingSpacing: 20,
        direction: 'top',
        enableExpandCollapse: true,
        nodeTemplate: (content) =>
          `<div style='display: flex;flex-direction: column;gap: 10px;justify-content: center;align-items: center;height: 100%;'>
          <img style='width: 50px;height: 50px;border-radius: 50%;' src='${content.imageURL}' alt='' />
          <div style="font-weight: bold; font-family: Arial; font-size: 14px">${content.name}</div>
         </div>`,
        canvasStyle: 'border: 1px solid black;background: #f6f6f6;width: 100%;height: 100%;',
        enableToolbar: true,
      };
      const tree = new ApexTree(document.getElementById('svg-tree'), options1);
      tree.render(data);

</script>
 *@



@* Dynamic name chart
 *@




 <script>
    const data1 = {
      id: 'Species',
      name: 'Daniel White',
      role: 'Admin',
      children: [
        {
          id: '2',
          name: 'Plants',
          category: 'Species',
          children: [
            {
              id: '3',
              name: 'Mosses',
              category: 'Plants',
            },
            {
              id: '4',
              name: 'Ferns',
              category: 'Plants',
            },
          ],
        },
        {
          id: '8',
          name: 'Fungi',
        },
        {
          id: '9',
          name: 'Lichens',
        },
        {
          id: '10',
          name: 'Animals',
          children: [
            {
              id: '11',
              name: 'Invertebrates',
              category: 'Animals',
              children: [
                {
                  id: '12',
                  name: 'Insects',
                  category: 'Invertebrates',
                },
              ],
            },
            {
              id: '16',
              name: 'Vertebrates',
              category: 'Animals',
              children: [
                {
                  id: '17',
                  name: 'Fish',
                  category: 'Vertebrates',
                },
                {
                  id: '19',
                  name: 'Reptiles',
                  category: 'Vertebrates',
                },
              ],
            },
          ],
        },
      ],
    };
    const options = {
      contentKey: 'name',
      width: 800,
      height: 700,
      nodeWidth: 150,
      nodeHeight: 50,
      childrenSpacing: 150,
      siblingSpacing: 30,
      direction: 'top',
      fontSize: '20px',
      fontFamily: 'sans-serif',
      fontWeight: '600',
      fontColor: '#a06dcc',
      borderWidth: 2,
      borderColor: '#a06dcc',
      canvasStyle: 'border: 1px solid black;background: #f6f6f6;',
    };
    const tree = new ApexTree(document.getElementById('svg-tree'), options);
    const graph = tree.render(data1);
    document.getElementById('layoutTop').addEventListener('click', (e) => {
      graph.changeLayout('top');
    });
    document.getElementById('layoutBottom').addEventListener('click', (e) => {
      graph.changeLayout('bottom');
    });

    document.getElementById('layoutLeft').addEventListener('click', (e) => {
      graph.changeLayout('left');
    });
    document.getElementById('layoutRight').addEventListener('click', (e) => {
      graph.changeLayout('right');
    });

    document.getElementById('fitScreen').addEventListener('click', (e) => {
      graph.fitScreen();
    });
 </script>



