<div class="card">
    <div class="card-header">
        <h4 class="card-title">Timeline</h4>
    </div><!--end card-header-->
    <div class="card-body">
        <div class="main-timeline mt-3">
            <div class="timeline">
                <span class="timeline-icon"></span>
                <span class="year">Feb 2019</span>
                <div class="timeline-content">
                    <h5 class="title">Highest Account Value</h5>
                    <span class="post">14 Feb 2019</span>
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis justo id pulvinar suscipit.
                    </p>
                </div>
            </div>

            <div class="timeline">
                <span class="timeline-icon"></span>
                <span class="year">Jan 2018</span>
                <div class="timeline-content">
                    <h5 class="title">Monthly Report</h5>
                    <span class="post">26 Jan 2018</span>
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis justo id pulvinar suscipit.
                    </p>
                </div>
            </div>

            <div class="timeline">
                <span class="timeline-icon"></span>
                <span class="year">April 2018</span>
                <div class="timeline-content">
                    <h5 class="title">Second Trade</h5>
                    <span class="post">1 April 2018</span>
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis justo id pulvinar suscipit.
                    </p>
                </div>
            </div>
            <div class="timeline">
                <span class="timeline-icon"></span>
                <span class="year">Aug 2017</span>
                <div class="timeline-content">
                    <h5 class="title">Sign Up</h5>
                    <span class="post">15 Aug 2017</span>
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis justo id pulvinar suscipit.
                    </p>
                </div>
            </div>
            <div class="timeline">
                <span class="timeline-icon"></span>
                <span class="year">Dec 2017</span>
                <div class="timeline-content">
                    <h5 class="title">First Trade</h5>
                    <span class="post">24 Dec 2017</span>
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis justo id pulvinar suscipit.
                    </p>
                </div>
            </div>
        </div>
    </div>  <!--end card-body-->
</div><!--end card-->
