<div class="row">
	<div class="col-12 col-lg-12">

		<div class="card" style="">

			<div class="card-header">
				<div class="row align-items-center">
					<div class="col">
						<h4 class="card-title">Ticket Process Index</h4>
					</div><!--end col-->
				</div> <!--end row-->
			</div><!--end card-header-->

			<div class="card-body">
				<div class="row mb-3">
					<div class="table-responsive">
						<table class="table mb-0">
							<thead class="thead-light">
								<tr>
									<th>Source</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
									<tr>

										<td class="d-none">One</td>
										<td>Two</td>
										<td>
											<button type="button" class="custombuttonaslink" data-toggle=""
													data-target="" data-url="">
												<i class="las la-pen text-secondary font-16"></i>
											</button>
											<a id="deleteLS" name="Id" href="#" class="ms-2" data-toggle=""
											   data-url="">
												<i class="las la-trash-alt text-secondary font-16"></i>
											</a>
										</td>
									</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>