
<div class="card shadow p-0 mb-5 bg-white rounded" style=" position: relative; height: 100%; width: 100%;">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col align-items-center">
                <h4 class="card-title">Today Tickets</h4>
            </div><!--end col-->
            <div class="col-auto">
               
            </div>
        </div>  <!--end row-->
    </div><!--end card-header-->
    <div class="card-body">
        <div class="row">
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="mb-3 text-start">
                            <label for="example-text-input">
                                Ticket Assignee
                                <span class="f-14 mr-1 text-danger">*</span>
                            </label>
                            <input class="form-control mt-2" type="text" value="" id="ticketname">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="mb-3 text-start">
                            <label for="example-text-input">
                                Status
                                <span class="f-14 mr-1 text-danger">*</span>
                            </label>
                            <select id="Dropdown" class="form-select mt-2">
                                <option value="" disabled selected>--</option>
                                <option value="PO">Approved</option>
                                <option value="dateBetween">On-holding</option>
                                <option value="dateBetween">Overdue</option>
                                <option value="dateBetween">Open</option>
                                <option value="dateBetween">Reject</option>
                                <option value="dateBetween">Unassigned</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="mb-3 text-start">
                            <label for="example-text-input">
                                Search By
                                <span class="f-14 mr-1 text-danger">*</span>
                            </label>
                            <select id="filterDropdown" onchange="updateSearchFields()" class="form-select mt-2">
                                <option value="" disabled selected>--</option>
                                <option value="Cat">Category</option>
                                <option value="Role">Role</option>
                                <option value="Emp">Employee</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="row" id="searchFields">
                    <div class="col-lg-12" id="divCat">
                        <div class="mb-3 text-start">
                            <label for="nameSearch">
                                Category
                                <span class="f-14 mr-1 text-danger">*</span>
                            </label>
                            <input class="form-control mt-2" type="text" value="" id="nameSearch">
                        </div>
                    </div>
                    <div class="col-lg-12" id="divRole">
                        <div class="mb-3 text-start">
                            <label for="startDate endDate">
                                Role
                                <span class="f-14 mr-1 text-danger">*</span>
                            </label>
                            <input class="form-control mt-2" type="text" value="" id="">
                        </div>
                    </div>
                    <div class="col-lg-12" id="divEmp">
                        <div class="mb-3 text-start">
                            <label for="startDate endDate">
                                Employee
                                <span class="f-14 mr-1 text-danger">*</span>
                            </label>
                            <input class="form-control mt-2" type="text" value="" id="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 offset-lg-9">
                    <div class="col-lg-12 text-end mt-1">
                        <button type="button" class="btn btn-warning bg-opacity-75 mt-4"><i class="mdi mdi-filter me-2"></i>Filter</button>
                    </div>
                </div>
            </div>
    </div>
</div>
</div>

<div class="card shadow p-0 mb-5 bg-white rounded" style=" position: relative; height: 100%; width: 100%;">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col align-items-center">
                <h4 class="card-title">List of Tickets</h4>
            </div><!--end col-->
            <div class="col-auto">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Export File
                    <i class="mdi mdi-chevron-down"></i>
                </button>
                <div class="dropdown-menu " style="position: absolute; inset: auto auto 0px 0px; margin: 0px; transform: translate3d(16px, -94px, 0px);" data-popper-placement="top-start">
                    <a class="dropdown-item" href="#">CSV</a>
                    <a class="dropdown-item" href="#">PDF</a>
                </div>
            </div>
        </div>  <!--end row-->
    </div><!--end card-header-->
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-centered">
                <thead class="thead-light">
                    <tr>
                        <th style="max-width: 95px;">
                            S.No
                        </th>
                        <th>ID</th>
                        <th>Customers</th>
                        <th>Assignee</th>
                        <th>Followers</th>
                        <th><label class="d-none d-xl-block">Subject</label></th>
                        <th>Team</th>
                        <th>Priority</th>
                        <th>Status</th>
                        <th>Due Date</th>

                    </tr><!--end tr-->
                </thead>

                <tbody>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>#1236</td>
                        <td><span class="text-truncate">Robert Y. Merchant</span></td>
                        <td style="display: flex; width: 100%;">
                            <img src="~/matrica/assets/images/users/user-10.png" alt="" class="thumb-sm rounded-circle me-2 w-25 h-25">
                            <span style="align-content: center;width: 76%;" class="text-truncate">Donald Gardner</span>
                        </td>
                        <td>
                            <span class="text-truncate">
                                <div class="img-group">
                                    <a class="user-avatar" href="#">
                                        <img src="~/matrica/assets/images/users/user-8.jpg" alt="user" class="thumb-xs rounded-circle">
                                    </a>
                                    <a class="user-avatar ms-n3" href="#">
                                        <img src="~/matrica/assets/images/users/user-5.jpg" alt="user" class="thumb-xs rounded-circle">
                                    </a>
                                    <a class="user-avatar ms-n3" href="#">
                                        <img src="~/matrica/assets/images/users/user-2.jpg" alt="user" class="thumb-xs rounded-circle">
                                    </a>
                                    <a class="user-avatar ms-n3" href="#">
                                        <img src="~/matrica/assets/images/users/user-4.jpg" alt="user" class="thumb-xs rounded-circle">
                                    </a>
                                    <a href="" class="user-avatar">
                                        <span class="thumb-xs justify-content-center d-flex align-items-center bg-soft-info rounded-circle fw-semibold">+6</span>
                                    </a>
                                </div>
                            </span>
                        </td>
                        <td><span class="text-truncate d-none d-xl-block">Bug-report simply dummy text of the printing and typesetting</span></td> 
                        <td>Support</td>
                        <td>Normal</td>
                        <td><span class="badge badge-soft-warning p-2">New</span></td>
                        <td>03-Feb-25</td>
                    </tr><!--end tr-->
                    <tr>
                        <td>
                            2
                        </td>
                        <td>#3569</td>
                        <td><span class="text-truncate">Smith W. Gates</span></td>
                        <td style="display: flex; width: 100%;">
                            <img src="~/matrica/assets/images/users/user-9.png" alt="" class="thumb-sm rounded-circle me-2">
                            <span style="align-content: center;width: 76%;" class="text-truncate">Kevin J. Heal</span>
                        </td>
                        <td>
                            <span class="text-truncate">
                                <div class="img-group">
                                    <a class="user-avatar" href="#">
                                        <img src="~/matrica/assets/images/users/user-8.jpg" alt="user" class="thumb-xs rounded-circle">
                                    </a>
                                    <a class="user-avatar ms-n3" href="#">
                                        <img src="~/matrica/assets/images/users/user-5.jpg" alt="user" class="thumb-xs rounded-circle">
                                    </a>
                                    <a class="user-avatar ms-n3" href="#">
                                        <img src="~/matrica/assets/images/users/user-4.jpg" alt="user" class="thumb-xs rounded-circle">
                                    </a>
                                    <a class="user-avatar ms-n3" href="#">
                                        <img src="~/matrica/assets/images/users/user-6.jpg" alt="user" class="thumb-xs rounded-circle">
                                    </a>
                                    <a href="" class="user-avatar">
                                        <span class="thumb-xs justify-content-center d-flex align-items-center bg-soft-info rounded-circle fw-semibold">+6</span>
                                    </a>
                                </div>
                            </span>
                        </td>
                        <td><span class="text-truncate d-none d-xl-block">The application continuous is a long established fact that a reader.</span></td>
                        <td>Testing</td>
                        <td class="text-danger">Critical</td>
                        <td><span class="badge badge-soft-success p-2">Solved</span></td>
                        <td>01-Feb-25</td>
                    </tr><!--end tr-->
                    <tr>
                        <td>
                            3
                        </td>
                        <td>#9874</td>
                        <td><span class="text-truncate">James T. Lever</span></td>
                        <td style="display: flex; width: 100%;">
                            <img src="~/matrica/assets/images/users/user-8.png" alt="" class="thumb-sm rounded-circle me-2">
                            <span style="align-content: center;width: 76%;" class="text-truncate">Frank M. Lyons</span>
                        </td>
                        <td>
                            <span class="text-truncate">
                                <div class="img-group">
                                    <a class="user-avatar" href="#">
                                        <img src="~/matrica/assets/images/users/user-3.jpg" alt="user" class="thumb-xs rounded-circle">
                                    </a>
                                    <a class="user-avatar ms-n3" href="#">
                                        <img src="~/matrica/assets/images/users/user-5.jpg" alt="user" class="thumb-xs rounded-circle">
                                    </a>
                                    <a class="user-avatar ms-n3" href="#">
                                        <img src="~/matrica/assets/images/users/user-4.jpg" alt="user" class="thumb-xs rounded-circle">
                                    </a>
                                    <a class="user-avatar ms-n3" href="#">
                                        <img src="~/matrica/assets/images/users/user-1.jpg" alt="user" class="thumb-xs rounded-circle">
                                    </a>
                                    <a href="" class="user-avatar">
                                        <span class="thumb-xs justify-content-center d-flex align-items-center bg-soft-info rounded-circle fw-semibold">+6</span>
                                    </a>
                                </div>
                            </span>
                        </td>
                        <td><span class="text-truncate d-none d-xl-block">See how it work start are many variations of passages of Lorem Ipsum available.</span></td>
                        <td>Finance</td>
                        <td>Low</td>
                        <td><span class="badge badge-soft-primary p-2">Open</span></td>
                        <td>31-Jan-25</td>
                    </tr><!--end tr-->
                    <tr>
                        <td>
                            4
                        </td>
                        <td>#5412</td>
                        <td><span class="text-truncate">Justin U. Brudo</span></td>
                        <td style="display: flex; width: 100%;">
                            <img src="~/matrica/assets/images/users/user-7.png" alt="" class="thumb-sm rounded-circle me-2">
                            <span style="align-content: center;width: 76%;" class="text-truncate">Robert C. Golding</span>
                        </td>
                        <td>
                            <span class="text-truncate">
                                <div class="img-group">
                                    <a class="user-avatar" href="#">
                                        <img src="~/matrica/assets/images/users/user-3.jpg" alt="user" class="thumb-xs rounded-circle">
                                    </a>
                                    <a class="user-avatar ms-n3" href="#">
                                        <img src="~/matrica/assets/images/users/user-5.jpg" alt="user" class="thumb-xs rounded-circle">
                                    </a>
                                    <a class="user-avatar ms-n3" href="#">
                                        <img src="~/matrica/assets/images/users/user-9.jpg" alt="user" class="thumb-xs rounded-circle">
                                    </a>
                                    <a class="user-avatar ms-n3" href="#">
                                        <img src="~/matrica/assets/images/users/user-6.jpg" alt="user" class="thumb-xs rounded-circle">
                                    </a>
                                    <a href="" class="user-avatar">
                                        <span class="thumb-xs justify-content-center d-flex align-items-center bg-soft-info rounded-circle fw-semibold">+6</span>
                                    </a>
                                </div>
                            </span>
                        </td>
                        <td><span class="text-truncate d-none d-xl-block">I can't upload file first line of Ipsum lorem ipsum dolor sit amet.</span></td>
                        <td>Support</td>
                        <td>Medium</td>
                        <td><span class="badge badge-soft-warning p-2">New</span></td>
                        <td>04-Feb-25</td>
                    </tr><!--end tr-->
                    <tr>
                        <td>
                            5
                        </td>
                        <td>#3258</td>
                        <td><span class="text-truncate">Davidson</span></td>
                        <td style="display: flex; width: 100%;">
                            <img src="~/matrica/assets/images/users/user-6.png" alt="" class="thumb-sm rounded-circle me-2">
                            <span style="align-content: center;width: 76%;" class="text-truncate">Hyman M. Cross</span>
                        </td>
                        <td>
                            
                                <div class="img-group">
                                    <a class="user-avatar" href="#">
                                    <img src="~/matrica/assets/images/users/user-1.jpg" alt="user" class="thumb-xs rounded-circle">
                                    </a>
                                    <a class="user-avatar ms-n3" href="#">
                                    <img src="~/matrica/assets/images/users/user-2.jpg" alt="user" class="thumb-xs rounded-circle">
                                    </a>
                                    <a class="user-avatar ms-n3" href="#">
                                    <img src="~/matrica/assets/images/users/user-4.jpg" alt="user" class="thumb-xs rounded-circle">
                                    </a>
                                    <a class="user-avatar ms-n3" href="#">
                                    <img src="~/matrica/assets/images/users/user-6.jpg" alt="user" class="thumb-xs rounded-circle">
                                    </a>
                                    <a href="" class="user-avatar">
                                        <span class="thumb-xs justify-content-center d-flex align-items-center bg-soft-info rounded-circle fw-semibold">+6</span>
                                    </a>
                                </div>
                            
                        </td>
                        <td><span class="text-truncate d-none d-xl-block">How do i upgrade my profile?</span></td>
                        <td>Support</td>
                        <td>Low</td>
                        <td><span class="badge badge-soft-success p-2">Solved</span></td>
                        <td>30-Jan-25</td>
                    </tr><!--end tr-->
                    <tr>
                        <td>
                            6
                        </td>
                        <td>#6636</td>
                        <td><span class="text-truncate">Robert J. Rock</span></td>
                        <td style="display: flex; width: 100%;">
                            <img src="~/matrica/assets/images/users/user-5.png" alt="" class="thumb-sm rounded-circle me-2">
                            <span style="align-content: center;width: 76%;" class="text-truncate">Phillip T. Morse</span>
                        </td>
                        <td>
                           
                                <div class="img-group">
                                    <a class="user-avatar" href="#">
                                    <img src="~/matrica/assets/images/users/user-8.jpg" alt="user" class="thumb-xs rounded-circle">
                                    </a>
                                    <a class="user-avatar ms-n3" href="#">
                                    <img src="~/matrica/assets/images/users/user-5.jpg" alt="user" class="thumb-xs rounded-circle">
                                    </a>
                                    <a class="user-avatar ms-n3" href="#">
                                    <img src="~/matrica/assets/images/users/user-4.jpg" alt="user" class="thumb-xs rounded-circle">
                                    </a>
                                    <a class="user-avatar ms-n3" href="#">
                                    <img src="~/matrica/assets/images/users/user-6.jpg" alt="user" class="thumb-xs rounded-circle">
                                    </a>
                                    <a href="" class="user-avatar">
                                        <span class="thumb-xs justify-content-center d-flex align-items-center bg-soft-info rounded-circle fw-semibold">+6</span>
                                    </a>
                                </div>
                        </td>
                        <td><span class="text-truncate d-none d-xl-block">Can i help you in this project?</span></td>
                        <td>Purchase</td>
                        <td class="text-danger">Critical</td>
                        <td><span class="badge badge-soft-primary p-2">Open</span></td>
                        <td>03-Feb-25</td>
                    </tr><!--end tr-->
                </tbody>

            </table>

        </div>
    </div><!--end card-body-->
</div>


<div class="row">
    <div class="col-4 offset-4">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">
                    Donut Chart
                </h4>
            </div>
            <div class="card-body">
                <div class="chart-container" style="position: relative; height: 361px; width: 100%;">
                    <div id="ticketDonutChart1" class="row"></div>
                    <canvas id="ticketDonutChart"></canvas>
                </div>
            </div>
            <div class="card-footer b-0 m-0 border-light">
                <div id="totalTickets" class="total-tickets b-0 " style="font-size:14px;"></div>
            </div>
        </div>

    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript">
    const ctx11 = document.getElementById('ticketDonutChart').getContext('2d');

    // Data for the Donut Chart
    const data11 = {
        labels: ['Open Ticket', 'On-Hold Ticket', 'Rejected Ticket', 'Overdue Ticket'],
        datasets: [{
            label: 'Ticket',
            data: [45, 25, 15, 15], // Adjust values here
            backgroundColor: [
                'rgba(75, 192, 192, 1)', // Teal
                'rgba(255, 205, 86, 1)', // Yellow
                'rgba(255, 99, 132, 1)', // Red
                'rgba(54, 162, 235, 1)', // Blue
            ],
            borderColor: [
                'rgba(75, 192, 192, 1)',
                'rgba(255, 205, 86, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
            ],
            borderWidth: 2
        }]
    };

    // Configuration for the Donut Chart
    const config11 = {
        type: 'doughnut',
        data: data11,
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    display: false // Hide the default legend
                },
                tooltip: {
                    backgroundColor: 'rgba(255, 255, 255, 0.9)', // Tooltip background color
                    titleColor: '#333',
                    bodyColor: '#333',
                    borderColor: '#ddd',
                    borderWidth: 1
                }
            },
            cutout: '90%' // Thickness of the donut ring
        }
    };

    // Create the chart
    const myChart = new Chart(ctx11, config11);

    // Generate Custom Legend
    const customLegendContainer = document.getElementById('ticketDonutChart1');
    data11.labels.forEach((label, index) => {
        const color = data11.datasets[0].backgroundColor[index];
        const value = data11.datasets[0].data[index];

        // Create legend item
        const legendItem = document.createElement('div');
        legendItem.classList.add('col-lg-3', 'col-md-6', 'col-12', 'mb-1', 'text-truncate'); // Bootstrap grid classes for responsiveness

         legendItem.style.cursor = 'pointer'; // Add pointer cursor to indicate clickability

        // Create color box
        const colorBox = document.createElement('span');
        colorBox.style.width = '16px';
        colorBox.style.height = '16px';
        colorBox.style.backgroundColor = color;
        colorBox.style.borderRadius = '50%';
        colorBox.style.display = 'inline-block';
        colorBox.style.marginRight = '8px';

        // Create text
        const text = document.createElement('span');
        text.innerText = `${label}: ${value}`;

        // Append color box and text to legend item
        legendItem.appendChild(colorBox);
        legendItem.appendChild(text);

        // Add click event to toggle visibility
        legendItem.addEventListener('click', () => {
            const meta = myChart.getDatasetMeta(0); // Get metadata for the dataset
            meta.data[index].hidden = !meta.data[index].hidden; // Toggle visibility
            myChart.update(); // Update the chart
        });
        // Append legend item to the container
        customLegendContainer.appendChild(legendItem);
    });

    // Calculate total tickets and display below the chart
    const totalTickets = data11.datasets[0].data.reduce((sum, value) => sum + value, 0);
    document.getElementById('totalTickets').innerText = `Total Tickets: ${totalTickets}`;
</script>
    <script type="text/javascript" src="~/matrica/assets/libs/simplebar/simplebar.min.js"></script>
     <script type="text/javascript" src="~/matrica/assets/libs/feather-icons/feather.min.js"></script>



<div class="row">
    <div class="col-lg-4 offset-lg-8">

<div class="card overflow-hidden shadow p-0 mb-5 bg-white rounded" style="position: relative; height: 100%; width: 100%;">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col">
                <h4 class="card-title">Recent Activity</h4>
            </div>
            <!--end col-->
            @* 
          <div class="col-auto">
             <div class="dropdown">
                <a href="#" class="btn btn-sm btn-outline-light dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All<i class="las la-angle-down ms-1"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                   <a class="dropdown-item" href="#">Purchases</a>
                   <a class="dropdown-item" href="#">Emails</a>
                </div>
             </div>
          </div>
          <!--end col--> *@
        </div>
        <!--end row-->
    </div>
    <!--end card-header-->
    <div class="card-body p-0">
        <div class="p-3" style="height:100%; width:80%" data-simplebar="init">
            <div class="simplebar-wrapper" style="margin: -16px;">
                <div class="simplebar-height-auto-observer-wrapper">
                    <div class="simplebar-height-auto-observer"></div>
                </div>
                <div class="simplebar-mask">
                    <div class="simplebar-offset" style="right: -16.6667px; bottom: 0px;">
                        <div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden scroll;">
                            <div class="simplebar-content" style="padding: 16px;">
                                <div class="activity">
                                    <div class="activity-info">
                                        <div class="row">
                                                    <div class="col-2 icon-info-activity">
                                                
                                                    <i class="las la-user-clock bg-soft-warning"></i>
                                                
                                            </div>
                                            <div class="col-10">
                                                <div class="row">
                                                            <div class="col-12 activity-info-text">
                                                       
                                                                        <div class="row d-flex justify-content-between align-items-center">
                                                                    <div class="col-8">
                                                                        <p class="text-muted mb-0 font-13">
                                                                            <span>Donald</span>
                                                                            updated the status of <a href="">Refund #1234</a> to awaiting customer response
                                                                        </p>
                                                                    </div>
                                                                    <div class="col-4">
                                                                        <small class="text-info">10 Min ago</small>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="activity-info">
                                        <div class="row">
                                                    <div class="col-2 icon-info-activity">
                                                
                                                    <i class="mdi mdi-timer-off bg-soft-success"></i>
                                                
                                            </div>
                                            <div class="col-10">
                                                <div class="row">
                                                            <div class="col-12 activity-info-text">
                                                        
                                                                <div class="row d-flex justify-content-between align-items-center">
                                                                    <div class="col-8">
                                                                        <p class="text-muted mb-0 font-13 ">
                                                                            <span>Lucy Peterson</span>
                                                                            was added to the group, group name is <a href="">Overtake</a>
                                                                        </p>
                                                                    </div>
                                                                    <div class="col-4">
                                                                        <small class="text-info ">50 Min ago</small>
                                                                    </div>
                                                                </div>
                                                           
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                            <div class="activity-info">
                                                <div class="row">
                                                    <div class="col-2 icon-info-activity">
                                                        
                                                            <img src="~/matrica/assets/images/users/user-5.png" alt="" class="rounded-circle thumb-sm">
                                                        
                                                    </div>
                                                    <div class="col-10">
                                                        <div class="row ">
                                                            <div class="col-12 activity-info-text">


                                                                <div class="row d-flex justify-content-between align-items-center">
                                                                            <div class="col-8">
                                                                                <p class="text-muted mb-0 font-13">
                                                                                    <span>Joseph Rust</span>
                                                                                    opened new showcase <a href="">Mannat #112233</a> with theme market
                                                                                </p>
                                                                            </div>
                                                                            <div class="col-4">
                                                                                <small class="text-info">10 hours ago</small>
                                                                            </div>
                                                                    </div>
                                                            </div>
                                                               
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                       
                                    <div class="activity-info">
                                        <div class="row">
                                                    <div class="col-2 icon-info-activity">
                                                
                                                    <img src="~/matrica/assets/images/users/user-4.png" alt="" class="rounded-circle thumb-sm">
                                                
                                            </div>
                                            <div class="col-10">
                                               
                                                            <div class="row">
                                                                <div class="col-12 activity-info-text">
                                                                        <div class="row d-flex justify-content-between align-items-center">
                                                                    <div class="col-8">
                                                                        <p class="text-muted mb-0 font-13 ">
                                                                            <span>Donald</span>
                                                                            updated the status of <a href="">Refund #1234</a> to awaiting customer response
                                                                        </p>
                                                                    </div>
                                                                    <div class="col-4">
                                                                        <small class="text-info ">Yesterday</small>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                   
                                            </div>
                                        </div>
                                    </div>
                                    <div class="activity-info">
                                        <div class="row">
                                            <div class="col-2">
                                                <div class="icon-info-activity">
                                                    <i class="mdi mdi-alert-outline bg-soft-warning"></i>
                                                </div>
                                            </div>
                                            <div class="col-10">
                                                <div class="row">
                                                            <div class="col-12 activity-info-text">
                                                        
                                                                        <div class="row d-flex justify-content-between align-items-center">
                                                                    <div class="col-8">
                                                                        <p class="text-muted mb-0 font-13 ">
                                                                            <span>Lucy Peterson</span>
                                                                            was added to the group, group name is <a href="">Overtake</a>
                                                                        </p>
                                                                    </div>
                                                                    <div class="col-4">
                                                                        <small class="text-info">14 Nov 2021</small>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                      
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="activity-info">
                                        <div class="row">
                                            <div class="col-2">
                                                <div class="icon-info-activity">
                                                    <img src="~/matrica/assets/images/users/user-4.png" alt="" class="rounded-circle thumb-sm">
                                                </div>
                                            </div>
                                            <div class="col-10">
                                                <div class="row">
                                                            <div class="col-12 activity-info-text">
                                                        
                                                                        <div class="row d-flex justify-content-between align-items-center">
                                                                    <div class="col-8">
                                                                        <p class="text-muted mb-0 font-13 ">
                                                                            <span>Joseph Rust</span>
                                                                            opened new showcase <a href="">Mannat #112233</a> with theme market
                                                                        </p>
                                                                    </div>
                                                                    <div class="col-4">
                                                                        <small class="text-info">15 Nov 2021</small>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="activity-info">
                                        <div class="row">
                                            <div class="col-2">
                                                <div class="icon-info-activity">
                                                    <i class="mdi mdi-timer-off bg-soft-success"></i>
                                                </div>
                                            </div>
                                            <div class="col-10">
                                                <div class="row">
                                                            <div class="col-12 activity-info-text">
                                                        
                                                                        <div class="row d-flex justify-content-between align-items-center">
                                                                    <div class="col-8">
                                                                        <p class="text-muted mb-0 font-13 ">
                                                                            <span>Lucy Peterson</span>
                                                                            was added to the group, group name is <a href="">Overtake</a>
                                                                        </p>
                                                                    </div>
                                                                    <div class="col-4 d-flex justify-content-between align-items-center">
                                                                        <small class="text-info ">11 Nov 2021</small>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end activity-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="simplebar-placeholder" style="width: 100%; height: 100px;"></div>
            </div>
            <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                <div class="simplebar-scrollbar" style="transform: translate3d(0px, 0px, 0px); display: none;" ></div>
            </div>
            <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
                <div class="simplebar-scrollbar" style="height: 343px; transform: translate3d(0px, 41px, 0px); display: block;" ></div>
            </div>
        </div>
        <!--end analytics-dash-activity-->
    </div>
    <!--end card-body-->
</div>

    </div>
</div>


@section Styles {
    <style type="text/css">

    </style>
}
<div class="row">
    <div class="card">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <h4 class="card-title">Tickets Index</h4>
                </div>
                <div class="col-lg-6 text-end">
                </div>
            </div>
        </div>
        <div class="card-body">
           

                <div class="table-responsive">
                    <table class="table  mb-0">
                        <thead class="thead-light">
                            <tr>
                                <th>PO Number</th>
                                <th>PO Date</th>
                                <th>Exp. Delivery Date</th>
                                <th>Total Value</th>
                                <th>Status</th>
                                <th class="ms-1">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>PRJ/PO/20250112/006</td>
                                <td>2025-02-12</td>
                                <td>2025-02-18</td>
                                <td>RM 2,565</td>
                                <td>Open</td>
                                <td>
                                    <a href="#"><i class="las la-eye text-secondary font-16"></i></a>
                                    <a href="#" class="ms-2"><i class="las la-pen text-secondary font-16"></i></a>
                                    <a href="#" class="ms-2"><i class="las la-trash-alt text-secondary font-16"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>PRJ/PO/20250111/005</td>
                                <td>2025-02-11</td>
                                <td>2025-02-20</td>
                                <td>RM 5,535</td>
                                <td>Drafted</td>
                                <td>
                                    <a href="#"><i class="las la-eye text-secondary font-16"></i></a>
                                    <a href="#" class="ms-2"><i class="las la-pen text-secondary font-16"></i></a>
                                    <a href="#" class="ms-2"><i class="las la-trash-alt text-secondary font-16"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>PRJ/PO/20250110/004</td>
                                <td>2025-02-10</td>
                                <td>2025-02-15</td>
                                <td>RM 1,800</td>
                                <td>Created Sales Order</td>
                                <td>
                                    <a href="#"><i class="las la-eye text-secondary font-16"></i></a>
                                    <a href="#" class="ms-2"><i class="las la-pen text-secondary font-16"></i></a>
                                    <a href="#" class="ms-2"><i class="las la-trash-alt text-secondary font-16"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>PRJ/PO/20250108/003</td>
                                <td>2025-02-08</td>
                                <td>2025-02-12</td>
                                <td>RM 2,400</td>
                                <td>Rejected</td>
                                <td>
                                    <a href="#"><i class="las la-eye text-secondary font-16"></i></a>
                                    <a href="#" class="ms-2"><i class="las la-pen text-secondary font-16"></i></a>
                                    <a href="#" class="ms-2"><i class="las la-trash-alt text-secondary font-16"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>PRJ/PO/20250105/002</td>
                                <td>2025-02-05</td>
                                <td>2025-02-15</td>
                                <td>RM 6,500</td>
                                <td>Ready to Receive</td>
                                <td>
                                    <a href="#"><i class="las la-eye text-secondary font-16"></i></a>
                                    <a href="#" class="ms-2"><i class="las la-pen text-secondary font-16"></i></a>
                                    <a href="#" class="ms-2"><i class="las la-trash-alt text-secondary font-16"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>PRJ/PO/20250105/001</td>
                                <td>2025-02-05</td>
                                <td>2025-02-12</td>
                                <td>RM 4,800</td>
                                <td>Received</td>
                                <td>
                                    <a href="#"><i class="las la-eye text-secondary font-16"></i></a>
                                    <a href="#" class="ms-2"><i class="las la-pen text-secondary font-16"></i></a>
                                    <a href="#" class="ms-2"><i class="las la-trash-alt text-secondary font-16"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table><!--end /table-->
                </div><!--end /tableresponsive-->

            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
            $(document).ready (function () {
            // Hide all input fields initially
              document.getElementById("searchFields").classList.add('d-none');
            });

            function updateSearchFields() {
            const dropdown = document.getElementById("filterDropdown");
            const selectedValue = dropdown.value;
              document.getElementById("searchFields").classList.remove('d-none');

                // Show relevant input fields based on selected value
                if (selectedValue === "Cat") {
                    document.getElementById("divCat").classList.remove("d-none");
                    document.getElementById("divRole").classList.add("d-none");
                    document.getElementById("divEmp").classList.add("d-none");
                } else if (selectedValue === "Role") {
                    document.getElementById("divCat").classList.add("d-none");
                    document.getElementById("divRole").classList.remove("d-none");
                    document.getElementById("divEmp").classList.add("d-none");
                }
                else if (selectedValue === "Emp") {
                    document.getElementById("divCat").classList.add("d-none");
                    document.getElementById("divRole").classList.add("d-none");
                    document.getElementById("divEmp").classList.remove("d-none");
                }
        }

    </script>
}