

<script src="https://cdn.jsdelivr.net/npm/apextree"></script>

<div class="card">
    <div class="card-header">
    </div>
    <div class="card-body align-justify">
        <div id="svg-tree" style="width: 100%; height: 100%;"></div> <!-- Ensure this exists -->
    </div>
</div>
<div id="svg-tree" style="width: 100%; height: 600px;"></div> <!-- Tree Container -->

<script>
      const data = {
      id: 'ms',
      data: {
        
        name: 'Daniel White',
        role: 'CEO'
      },
      options: {
        nodeBGColor: '#cdb4db',
        nodeBGColorHover: '#cdb4db',
      },
      children: [
        {
          id: 'mh',
          data: {
            
            name: 'Mark Hudson',
             role: 'Team Lead'
          },
          options: {
            nodeBGColor: '#ffafcc',
            nodeBGColorHover: '#ffafcc',
          },
          children: [
            {
              id: 'kb',
              data: {
                
                name: 'Karyn Borbas',
                role: 'Member',
              },
              options: {
                nodeBGColor: '#f8ad9d',
                nodeBGColorHover: '#f8ad9d',
              },
            },
            {
              id: 'cr',
              data: {
                
                name: 'Chris Rup',
                role: 'Member',
              },
              options: {
                nodeBGColor: '#c9cba3',
                nodeBGColorHover: '#c9cba3',
              },
            },
          ],
        },
        {
          id: 'cs',
          data: {
            
            name: 'Chris Lysek',
            role: 'Team Lead'
          },
          options: {
            nodeBGColor: '#00afb9',
            nodeBGColorHover: '#00afb9',
          },
          children: [
            {
              id: 'Noah_Chandler',
              data: {
                
                name: 'Noah Chandler',
                role: 'Member',
              },
              options: {
                nodeBGColor: '#84a59d',
                nodeBGColorHover: '#84a59d',
              },
            },
            {
              id: 'Felix_Wagner',
              data: {
                
                name: 'Felix Wagner',
                role: 'Member',
              },
              options: {
                nodeBGColor: '#0081a7',
                nodeBGColorHover: '#0081a7',
              },
            },
          ],
        },
      ],
    };
    const options = {
      contentKey: 'data',
      width: 800,
      nodeWidth: 150,
      nodeHeight: 100,
      fontColor: '#fff',
      borderColor: '#333',
      childrenSpacing: 50,
      siblingSpacing: 20,
      direction: 'top',
      nodeTemplate: (content) =>
        `<div style='display: flex;flex-direction: column;gap: 10px;justify-content: center;align-items: center;height: 100%;'>
        <div style="font-weight: bold; font-family: Arial; font-size: 14px">${content.name}</div>
        <div style="font-weight: bold; align: center; font-family: Arial; font-size: 14px">${content.role}</div>
       </div>`,
      canvasStyle: 'border: 1px solid black;background: #f6f6f6; width: 100%; height: 100%',
      enableToolbar: true,
    };
    const tree = new ApexTree(document.getElementById('svg-tree'), options);
    tree.render(data);
</script>

